<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.everything.jittlib" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application android:allowBackup="true" >
        <activity android:name=".JittMainActivity" android:theme="@style/Theme.AppCompat.Light"/>
        <activity android:name=".JittTranslateActivity"  android:theme="@style/Theme.AppCompat.Light"/>
        <activity android:name=".JittSelectLanguagesActivity"  android:theme="@style/Theme.AppCompat.Light"/>
    </application>

</manifest>
